footer {
    background-color: #1A263F;
    position: relative;
    bottom: 0;
    display: flex;
    align-content: end;
    justify-content: center;
    align-items: center;
}

span {
    font-size: 25px;
    font-weight:bold;
    margin-left: 10px;
    color: white;
}