footer {
    background-color: #1A263F;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
    padding: 10px 0;
}

footer span {
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    color: white;
}
