header {
    background-color: #1A263F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.Logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 50px;
    width: 50px;
}

span {
    font-size: 25px;
    font-weight:bold;
    margin-left: 10px;
    color: white;
}