header {
    background-color: #1A263F;
    display: flex;
    justify-content: start;
    align-items: center;
}

img {
    height: 50px;
    width: 50px;
}

span {
    font-size: 25px;
    font-weight:bold;
    margin-left: 10px;
    color: white;
}