/* Estilo para el contenedor de la lista de reservas */
.reserva-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre las tarjetas */
    padding: 0;
    list-style-type: none;
    justify-content: center; /* Centrar las tarjetas */
}

/* Estilo para cada tarjeta */
.reserva-item {
    box-sizing: border-box;
    margin: 20px 10px;
}

/* Ajuste para mantener el estilo interno de la tarjeta */
.reserva-item .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

.reserva-item span {
    height: 25px;
    font-size: 15px;
    color: black;
    font-weight: normal;
    display: block;
}

.reserva-item .iconDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #1A263F;
    width: 40px;
    border-radius: 10px;
}

.reserva-item .icono {
    color: white;
    cursor: pointer;
    padding: 10px;
}
